.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: "absolute";
  z-Index: -1;
  top: 0;
  left: 0;
}

.particlesDiv {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;

}
